.cate-info{
    padding: 20px;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color:rgb(4, 86, 86);
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
}

.first{
  position: relative;
  left: 12px;
}

input{
    padding: 5px 5px 20px;
    margin: 5px;
}
